<br />
<div class="booyah-box col-8 offset-2">
  <div class="col-sm text-center">
    <iframe
      width="460"
      height="260"
      src="<%= @lyric.video_url %>"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
    <h2 class="text-center">
      <%= @lyric.title %> 
      -
      <%= @lyric.artist %>
    </h2>
    <% if current_user && current_user == @lyric.user %>
      <%= link_to 'Destroy', owner_lyric_path(@lyric), method: :delete, data: {confirm: 'Ready to part ways with this video?'}, class: 'btn btn-primary btn-sm' %>
      <% end %>
    </div>
  </div>