<br />
<div class="container">
  <div class="row text-center">
    <% @lyrics.each do |video| %>
      <div class="col-sm">
        <iframe
          width="340"
          height="180"
          src="<%= video %>"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>  
    <% end %>
  </div>
 </div> 