<div class="hero">
  <br />
  <div class="sing ">
    <h1>What Are You Waiting For?</h1>
    
    <h2>These Songs Won't Sing Themselves</h2>
    <%= link_to "Let's Sing!", '#', class: 'btn btn-primary' %> 

    <%= link_to "Get Inspired", '#', class: 'btn btn-primary' %>

    
  </div>
</div>