@import "bootstrap";
@import "font-awesome";

.navbar {
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('wood.png');
  color: black;
}

.navbar-inverse a.navbar-brand {
  font-weight: 400;
  font-family: 'Righteous', cursive;

  color: red;
}

.hero {
  background: image_url('singer.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 737px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.sing h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 500;
  color: navajowhite;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.sing h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 400;
  color: navajowhite;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.sing {
  padding-top: 320px;
  margin-left: 260px;
}

.btn {
  border-radius: 0;
  padding: 7px;
  margin: 7px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #b72b2b;
  -webkit-box-shadow: 1px 1px 2px 0 #b72b2b;
  box-shadow: 1px 1px 2px 0 #b72b2b;
  background: #181a1b;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.navbar-inverse .navbar-nav .active > .nav-link {
  color: red;
}

.navbar-inverse .navbar-nav .nav-link {
  color: red;
}

.btn-outline-success {
  color: red;
  border-color: red;
  text-decoration: none;
}

.btn-primary {
  background-color: #373e49;
  border-color: red;
  color: navajowhite;
  font-weight: 600;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-toggler:focus, .navbar-inverse .navbar-toggler:hover {
  color: black;
}

.clr {
  clear: both;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.karaoke {
  
}

.karaoke b {
  color: red;
}

body {
  background: image_url('darkness.png');
}

a {
  color: #b72b2b;
}

h1, h2, h3, h4 {
  color: navajowhite;
}

.pagination {
  
  cursor: default;
  height: 49px;
  float: left;
  max-width: fit-content;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1px;
  }
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    
    color: navajowhite;
    border: 1px solid navajowhite;
  }
  a {
    text-decoration: none;
    color: red;
    border: 1px solid navajowhite;
    &:hover, &:focus {
      color: red;
      border-color: red;
    }
  }
  .page_info {
    background: none;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}

.form-inputs {
  color: navajowhite;
}

